body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.plats-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.plats-list {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.plats-details {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.plats-list h2,
.plats-details h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.plats-list ul {
  list-style-type: none;
  padding: 0;
}

.plats-list li {
  margin-bottom: 5px;
}

.plats-details label {
  display: block;
  margin-top: 10px;
}

.plats-details input[type="text"],
.plats-details input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.plats-details input[type="text"]:focus,
.plats-details input[type="file"]:focus {
  outline: none;
  border-color: #4CAF50;
}

.plats-details input[type="text"]:hover,
.plats-details input[type="file"]:hover {
  border-color: #888;
}

.plats-details button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plats-details button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.plats-details button:hover {
  background-color: #45a049;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.plats-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.plats-list {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.plats-details {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 900px;
}
#descriptionPlat {
  width: 100%;
  height: 100px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#descriptionPlat:focus {
  border-color: #007bff;
  outline: none;
}

.plats-list h2,
.plats-details h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.plats-list ul {
  list-style-type: none;
  padding: 0;
}

.plats-list li {
  margin-bottom: 5px;
}

.plats-details label {
  display: block;
  margin-top: 10px;
}

.plats-details input[type="text"],
.plats-details input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.plats-details input[type="text"]:focus,
.plats-details input[type="file"]:focus {
  outline: none;
  border-color: #4CAF50;
}

.plats-details input[type="text"]:hover,
.plats-details input[type="file"]:hover {
  border-color: #888;
}

.plats-details button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plats-details button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.plats-details button:hover {
  background-color: #45a049;
}
#imageContainer {
  max-width: 5px; /* Spécifiez la largeur maximale souhaitée */
  max-height: 5px; /* Spécifiez la hauteur maximale souhaitée */
}
.back-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f44336;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.back-link:hover {
  background-color: #e53935;
}
.home {
  margin-top: 50px;
}

.home .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.home .logo {
  flex: 1;
}

.home .wrapper--input input {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #f2f2f206;
  border: none;
  border-radius: 4px;
  color: black;
}

.home .wrapper--input {
  border: none;
  position: relative;
  display: inline-block;
}

.home .search-results {
  border-top: none;
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: none;
  height: auto;
  width: 108.5%;
}

.home .container--restaurant--search {
  height: 100px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.home .container--restaurant--search:hover {
  background-color: #5d5b4aeb;
}

.home .wrapper--img {
  margin-right: 10px;
}

.home .image {
  width: 40px;
  height: 30px;
}

.home .eatandgo {
  max-width: 100%;
  height: auto;
  width: 40%;
  align-items: left;
  justify-content: space-between;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-right: 50%;
}

.home .slideshow {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-image: url("../components/couverture.jpeg");
  animation: defilement-horizontal 30s linear infinite;
  background-position: -1000vw center;
}

.home .promotion {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 100%;
  padding: 15px;
  color: rgba(246, 60, 4, 0.789);
  text-align: center;
  font-size: 0.8rem;
  animation: defilement-horizontal 40s linear infinite, 1s infinite;
  background-image: url("../components/couverture4.jpg");
  font-weight: bold;
}

.textR {
  margin-top: 2%;
  top: 10%;
}

@keyframes defilement-horizontal {
  0% {
    background-position: -100vw center;
  }
  100% {
    background-position: 100vw center;
  }
}

.home nav {
  background-color: rgba(252, 215, 7, 0.823);
}

.home nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.home nav ul li {
  display: inline-block;
  position: relative;
}

.home nav ul li a:before,
.home nav ul li a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.home nav ul li a:before {
  left: 50%;
}

.home nav ul li a:after {
  right: 50%;
}

.home nav ul li a:hover:before,
.home nav ul li a:hover:after {
  width: 50%;
}

.home nav ul li a {
  font-family: Arial, sans-serif;
  display: block;
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.home nav ul li:hover > a {
  background-color: #f0c508;
  color: #fff;
}

.home nav ul li:hover > ul {
  display: block;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.home nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f0c508a0;
  opacity: 0;
  font-family: sans-serif;
}

.home nav ul ul li {
  display: block;
  width: 200px;
}

.home nav ul ul li a {
  padding: 10px;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.home nav ul ul li:hover > a {
  background-color: rgba(252, 215, 7, 0.823);
}

.home nav ul ul li:hover > ul {
  display: block;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.home nav ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #e8ba03c5;
  opacity: 0;
}

.home .container--restaurant--search .image {
  border-radius: 50%;
  width: 80px;
  height: 40px;
  object-fit: cover;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}#panierContainer {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

